@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
	border: none;
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.9;
    font-size: 16px
}
a { 
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.section-padding{padding: 120px 0}

.slider_bg_1{background-image: url(../img/slider_bg_1.jpg);}
.slider_bg_2{background-image: url(../img/slider_bg_1.jpg);}
.slider_bg_3{background-image: url(../img/slider_bg_1.jpg);}

.single_slide_item:after{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#10b5a6+0,0b752c+100 */
    background: #10b5a6; /* Old browsers */
    background: -moz-linear-gradient(top, #10b5a6 0%, #0b752c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #10b5a6 0%,#0b752c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #10b5a6 0%,#0b752c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10b5a6', endColorstr='#0b752c',GradientType=0 ); /* IE6-9 */
}

.single_slide_item {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    padding-top: 275px;
    padding-bottom: 175px;
}

.single_slide_item:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .9;
    z-index: -1;
}

.slider_text {
    color: white;
}

.slider_button_title {
    color: white;
}

.slider_text h1 {
    font-size: 55px;
    line-height: 1.3;
    margin-bottom: 50px;
}

.slider_text p {
    font-size: 18px;
    margin-bottom: 50px;
}

.slider_play_button i {
    font-size: 23px;
    background: white;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    line-height: 103px;
    padding-left: 6px;
    margin-bottom: 18px;
}

.header_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header_menu li {
    display: inline-block;
}

.header_menu ul li a {
    display: block;
}

.slider_area {
    position: relative;
    z-index: 2;
}

.header_area {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
}
.header_search {display: inline-block;}

.header_menu {
    display: inline-block;
}

.header_button {
    display: inline-block;
}

.header_logo h1 {
    margin: 0;
}

.header_menu ul li a {
    color: white;
}

.header_search {
    color: white;
    margin-right: 24px;
}

.header_button {
    color: white;
    background: #10B6A7;
    padding: 10px 20px;
    border-radius: 6px;
}

.header_button a
 i {
    margin-right: 12px;
}

.header_menu ul li a {
    margin-right: 24px;
}

.header_logo h1 a {
    margin-top: 4px;
    display: block;
}
.header_area {
    margin-top: 25px;
}

body {
    background: #F9FDFF;
}

.study_box {
    background: white;
    padding: 50px 25px 25px 25px;
    position: relative;
    z-index: 2;
}

.study_box h2, .event_box h2 {
    font-size: 26px;
    margin: 0;
    margin-bottom: 50px;
}

.study_box:after,
 .event_box:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 7px;
    width: 100%;
    content: "";
    background: #10B6A7;
    border-radius: 10px;
}

.single_study_box {
    text-align: center;
    background: #F9FDFF;
    margin-bottom: 25px;
    padding: 40px;
}

.single_study_box:nth-child(3), .single_study_box:nth-child(4) {/* margin: 0; */}

.single_study_box
 img {background: white;padding: 30px;border-radius: 50%;box-shadow: 0 0 12px #E2F3F6;margin-bottom: 25px;}

.single_study_box
 h3 {
    margin-bottom: 25px;
    font-size: 18px;
}

.single_study_box
 p {margin-bottom: 20px;}

.discover_more {
    color: #10B6A7;
}

.discover_more i {
    padding-left: 7px;
}

.discover_more:hover {color: #10B6A7;}

.event_box {
    position: relative;
    z-index: 2;
    background: white;
    padding: 50px 50px 50px 25px;
}

.event_box h2 {
}

.event_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.event_menu ul li
 a span {
    display: block;
    font-size: 13px;
    margin-top: 10px;
}

.event_menu ul li {
    border-top: 1px solid #ECFAFF;
    padding: 25px 0;
    margin-left: -26px;
    margin-right: -51px;
    padding-left: 26px;
    padding-right: 51px;
}

.event_menu ul li:hover
 a {
    color: #10B6A7;
}

.col-lg-6:nth-child(2) .single_study_box {
    background: #FAFAFF;
}

.col-lg-6:nth-child(3) .single_study_box {
    background: #FAFFFC;
}

.col-lg-6:nth-child(4) .single_study_box {
    background: #FFFAFF;
}

.more_events {
    color: #10B6A7;
}

.more_events i {
    padding-left: 7px;
}

.event_menu ul li:hover
 a span {
    color: black;
}