/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding{padding: 60px 0}

.single-img-1{background-image: url(../img/landing-page1.jpg);}
.single-img-2{background-image: url(../img/landing-page2.jpg);}
.single-img-3{background-image: url(../img/landing-page3.png);}
.single-img-4{background-image: url(../img/landing-page4.png);}
.single-img-5{background-image: url(../img/landing-page5.jpg);}
.single-img-6{background-image: url(../img/landing-page6.jpg);}
.single-img-7{background-image: url(../img/landing-page7.jpg);}
.single-img-8{background-image: url(../img/landing-page8.png);}
.single-img-9{background-image: url(../img/landing-page9.jpg);}
.single-img-10{background-image: url(../img/landing-page10.jpg);}
.single-img-11{background-image: url(../img/landing-page11.jpg);}

.single-item {
    float: left;
    height: 350px;
    width: 25%;
    background-size: 100%;
    background-position: center;
    transition: .5s;
    display: table;
    background-repeat: no-repeat;
}

.logo h1 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    color: black;
    margin: 0;
}

.logo h1 span {
    position: absolute;
    font-size: 9px;
    top: 2px;
    color: black;
}

.logo h1 a {
    color: black;
}

.menu-collapse span {
    height: 2px;
    display: block;
    background: black;
}

.menu-collapse span:nth-child(2) {
    margin: 5px 0;
    height: 3px;
}

.menu-collapse {
    display: inline-block;
    width: 30px;
    cursor: pointer;;;
}

.menu-collapse span:nth-child(1), .menu-collapse span:nth-child(3) {
    height: 2.5px;
}

.menu-collapse:hover  span:nth-child(1), .menu-collapse:hover span:nth-child(3) {
    margin: 0 5px;
    transition: .5s;
}

.header-area {
    padding: 40px 40px 0 40px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}

.single-img-hover {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.single-img-hover h4 a {
    color: black;
    font-size: 24px;
}

.single-img-hover p {
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}

.single-img-hover p a {
    color: black;
    opacity: .4;
}

.single-item:hover .single-img-hover {
    opacity: 1;
    visibility: visible;
    transition: .5s;
}

.single-item:hover {
    background-size: 125%;
    transition: .5s;
}

.single-item.long {
    height: 700px;
    z-index: 2;
}

.single-item.box {
    height: 700px;
    width: 50%;
    z-index: 1;
}

.footer-area {
    padding: 80px 0;
    background: #613AD6;
    padding-left: 60px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: -1
}

.footer-area, .footer-area
 a {
    color: white;
}

.footer-logo h1 {
    text-transform: uppercase;
    font-size: 21px;
    position: relative;
    letter-spacing: 2px;
}

.footer-logo h1 span {
    position: absolute;
    font=:;
}

.footer-logo h1 span {
    position: absolute;
    font-size: 10px;
    top: 5px;
}

.address p {
    opacity: .5;
    font-size: 16px;
    margin-bottom: 25px;
}

.address h2 {
    font-size: 25px;
    position: relative;
    display: inline-block;
}

.address h2:after {
    position: absolute;
    left: 0;
    bottom: -11px;
    height: 1px;
    width: 100%;
    content: "";
    background: #ddd;
}

.address h2:hover .address
 h2:after {
    /* background-color: white; */
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: .7;
    font-size: 16px;
}

.footer-menu ul li {
    margin-bottom: 8px;
}
.portfolio-list{
    position: relative;
    z-index: 2;
    margin-bottom: 273px
}
.footer-area{
    z-index: 1;;;;
}
.offcanvas {
    position: fixed;
    right: -40%;
    top: 0;
    height: 100%;
    width: 35%;
    background: #fff;
    content: "";
    z-index: 4;
    transition: .5s;;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    width: 100px;
    border-left: 1px solid #ddd;
}

.close-btn i.fa {
    color: black;
    top: 50%;
    position: absolute;
    line-height: 40px;
    margin-top: -20px;
    right: 37px;
    font-size: 28px;
    font-weight: normal;
}

.offcanvas-menu {
    display: table;
    height: 100%;
}

.offcanvas-menu-inner {
    display: table-cell;
    vertical-align: middle;
    \: 201px;
    padding-bottom: 148px;
    padding-left: 20px;
}

.offcanvas-menu ul {
    margin: 0;
    list-style: none;
}

.offcanvas-menu u li {
    display: block;
}

.offcanvas-menu ul li a {
    display: block;
    font-size: 40px;
    font-weight: 700;
}

.offcanvas-text {
    position: absolute;
    bottom: 120px;
    left: 67px;
    max-width: 50%;
    background: #EFEBFF;
    padding: 3px 10px;
}

.offcanvas-text p {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.social-icon {
    position: absolute;
    left: 68px;
    bottom: 50px;
}

.social-icon i.fa {
    font-size: 22px;
    margin-right: 9px;
}

.offcanvas-menu ul li.active a {
    color: blue;
}

.offcanvas-menu ul li a:hover {
    color: blue;
}

.offcanvas-menu ul li:focus, .offcanvas-menu ul li a:focus {
    text-decoration: none;
}

.menu-collapse .offcanvas {
    right: 0;
}

.offcanvas.active2{
    right: 0

}

.offcanvas-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 65%;
    content: "";
    background: #000;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
}
.offcanvas-overlay.active{
    opacity: 0;
    visibility: visible;
}