/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section_padding{padding: 60px 0}

.contact-us-form p {
    text-align: center;
    font-size: 17px;
    color: green;
    padding-bottom: 25px;
    padding-top: 25px;
}

input[type="submit"] {
    background: green;
    color: white;
    padding: 6px 15px;
    border: none;
}