/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding{padding: 60px 0}
.schedule th, .schedule td {
    padding: 25px;
}

.schedule {
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}

.schedule th, .schedule td {
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
}

.schedule th, .schedule td {
    text-align: center;
}

.schedule td h1 {
    font-weight: 400;
}

.schedule h1 {
    font-weight: 400;
}

.schedule h4 {
    font-weight: 400;
}

.schedule th {
    font-weight: 600;
}

.schedule thead {
    background-color: #ddd;
}