@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Zilla Slab', serif

}
p{
    font-family: 'Noto Sans', sans-serif
}
a:hover { text-decoration: none }

.section-padding{padding: 100px 0}

.bg-1{background-image: url(../img/bg-1.jpg);}
.say-hello-bg{background-image: url(../img/say-hello.jpg);}
.project-bg-1{background-image: url(../img/project-1.jpg);}
.project-bg-2{background-image: url(../img/project-2.jpg);}
.project-bg-3{background-image: url(../img/project-3.jpg);}
.project-bg-4{background-image: url(../img/project-4.jpg);}
.logo span {
    font-size: 20px;
    font-weight: 700;
}

.header-area a {color: black;}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    padding: 16px;
    display: block;
}

.logo {
    margin: 10px;
}

.header-area a {
    font-weight: 700;
}

.search-icon i {
    margin: 19px 0px;
}

.single-slide {
    background-color: #333;
    background-size: cover;
    background-position: center top;
    position: relative;
    z-index: 1;
    color: #fff;
}

.single-slide:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .66;
}

.header-area.header-absolute-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    color: white;
}

.header-area.header-absolute-area a {
    color: white;
}

.slide1-text {
    color: white;
    padding: 120px 0;
}

.slide1-text h2 span {
    font-style: italic;
    font-weight: 400;
}

.slide1-text h2 {
    font-size: 53px;
}

a.img-video {
    display: block;
    position: relative;
    margin: 30px;
}

.video-play-icon {
    position: absolute;
    height: 44px;
    width: 44px;
    line-height: 41px;
    border-radius: 50%;
    background: #077A7E;
    left: 50%;
    top: 50%;
    margin-top: -22px;
    margin-left: -22px;
}

a.boxed-button {
    padding: 12px 35px;
    background: #077A7E;
    color: white;
    font-size: 16px;
    border-radius: 50px;
}

.owl-carousel .owl-item .slide1-text img {
    display: inline-block;
    width: auto;
}

.homepage-slides .owl-nav div {
    position: absolute;
    left: 100px;
    top: 50%;
    color: white;
    font-size: 15px;
    line-height: 40px;
    margin-top: -20px;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 100px;
}
.space-100px {
    height: 100px;
}

.quote-title h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.quote-title p {
    font-size: 14px;
    color: #8D8D8D;
    margin-bottom: 30px;
}

.single-promo-box h4 {
    font-size: 20px;
    margin-bottom: 30px;
}

body {
    line-height: 1.8;
}

.single-promo-box p {
    color: #8D8D8D;
    font-size: 14px;
}

.title-gallery img {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 3px 5px 8px #B5B3B2;
}

.title-gallery img:nth-child(2) {
    position: absolute;
    z-index: 2;
    right: 53px;
    top: 23px;
}

.title-gallery img:nth-child(3) {
    position: absolute;
    z-index: 3;
    left: 45px;
    bottom: -64px;
}

.title-gallery {
    height: 600px;
}
.quote-icon i {
    font-size: 30px;
    color: #77DBDB;
    margin-bottom: 30px;
}
.single-promo-box {
    text-align: center;
}

a.single-service {
    position: relative;
    display: block;
    padding-left: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
}

.service-icon {
    position: absolute;
    font-size: 30px;
    color: #077B7F;
    left: 0;
    text-align: center;
    top: 0;
    height: 100%;
    width: 80px;
}

.service-icon-table {
    display: table;
    height: 100%;
    width: 100%;
}

.service-icon-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.service-icon:hover {
}

a.single-service:hover {
    background: #077B7F;
    color: white;
}

a.single-service:hover .service-icon {
    color: white;
}

a.single-service:hover:after {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 5000%;
    content: "";
    background: #077B7F;
}

.service-bg {
    position: relative;
    overflow: hidden;
}

.single-service p {
    color: #606060;
}

a.single-service:hover p {
    color: white;
}

.service-bg:before {
    background-image: url(../img/Service-bg.jpg);
    left: 0;
    top: 0;
    height: 100%;
    width: 51.05%;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

span.web-circle {
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 50px;
    margin-top: -25px;
    text-align: center;
    width: 100%;
}
span.graphic-circle {
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 50px;
    margin-top: -25px;
    text-align: center;
    width: 100%;
}
span.marketing-circle {
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 50px;
    margin-top: -25px;
    text-align: center;
    width: 100%;
}

.single-progress-bar {
    margin-top: 55px;
    text-align: center;
}

.single-progress-bar h3 {
    margin-top: 55px;
}
.circle{
    position: relative;
}
.circle1{
    position: relative;
}
.circle2{
    position: relative;
}

.say-hello-text {
    color: white;
    margin: 100px 0;
}

a.box-button {
    color: white;
    background: #088E93;
    padding: 18px 34px;
    border-radius: 50px;
}

.buttonbox {
    margin: 140px 0;
}
.say-hello-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    content: "";
    z-index: -1;
    opacity: .71;
}
.say-hello-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2
}
.single-project-file {
    position: relative;
    height: 312px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    text-align: center;
    margin-top: 25px;
}

.single-project-file-hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: white;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.single-project-file-hover:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #000;
    z-index: -1;
    opacity: .7;
}

.project-table {
    display: table;
    height: 100%;
    width: 100%;
}

.project-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-project-file-hover
 h4 {
    font-size: 21px;
    margin-top: 17px;
}

.single-project-file:hover
 .single-project-file-hover {
    opacity: 1;
    visibility: visible;
}

.single-project-file.large {
    height: 650px;
}
.single-team {
    position: relative;
    padding: 30px;
    background: #f1f1f1;
    text-align: center;
}

.single-team img {
    border-radius: 50%;
}

.single-team h4 {
    font-weight: 700;
    color: black;
    margin-top: 47px;
}

.single-team h4 span {
    display: block;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 30px;
}

.team-carousel {
    margin-top: 50px;
}

.owl-dots div {
    height: 12px;
    width: 12px;
    left: 0;
    top: 0;
    background: #9D9D9D;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}

.owl-dots {
    text-align: center;
    margin-top: 60px
}

.owl-dots div.active {
    background: #077B7F;
}

.owl-carousel .owl-item .single-team img {
    display: inline-block;
    width: auto;
}