@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
.space-30{
    height: 30px
}
.space-70{
    height: 70px
}
.faqs-title h1 {
    font-size: 28px;
    margin-bottom: 40px;
}
.twist-faqs .panel-group .panel {
    border-radius: 0px;
}

.twist-faqs .panel.panel-default {
    display: block;
    background: #FBFBFB;
    border: none;;
}

.twist-faqs .panel-default>.panel-heading {
    background: transparent;
    padding: 0;
}

.twist-faqs .panel-default>.panel-heading .panel-title a:after {
}

.twist-faqs.panel-group .panel.panel-default .panel-collapse .panel-body {
    border: none;
    /* border-top-color: transparent; */
}

.twist.panel.panel-default {}

.twist-faqs .panel-default {
    box-shadow: 0 0 5px #ddd;
}

.twist-faqs .panel-title a {
    display: block;
    padding: 15px;
    position: relative;
}

.twist-faqs .panel-title a:after {
    content: "+";
    position: absolute;
    right: 16px;
    background: #0BBBC1;
    height: 30px;
    width: 30px;
    text-align: center;
    top: 50%;
    margin-top: -15px;
    line-height: 27px;
    color: white;
    font-size: 21px;
}

.twist-faqs .panel-title a[aria-expanded="true"]:after {
    content: "-";
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Zilla Slab', serif

}
p{
    font-family: 'Noto Sans', sans-serif
}
a:hover { text-decoration: none }

.section-padding{padding: 100px 0;}

.bg-1{background-image: url(../img/bg-1.jpg);}
.say-hello-bg{background-image: url(../img/say-hello.jpg);}
.project-bg-1{background-image: url(../img/project-1.jpg);}
.project-bg-2{background-image: url(../img/project-2.jpg);}
.project-bg-3{background-image: url(../img/project-3.jpg);}
.project-bg-4{background-image: url(../img/project-4.jpg);}
.project-bg-5{background-image: url(../img/employee-1.jpg);}
.project-bg-6{background-image: url(../img/employee-2.jpg);}
.project-bg-7{background-image: url(../img/employee-3.jpg);}
.project-bg-8{background-image: url(../img/employee-1.jpg);}
.testimonial-bg{background-image: url(../img/testimonial-bg.jpg);}
.hero-area-bg{background-image: url(../img/hero-area-bg.jpg);}
.cta-bg{background-image: url(../img/home2-cta.jpg);}
.about-us-bg{background-image: url(../img/about-page.jpg);}
.about-page-feature-bg{background-image: url(../img/about-page-feature.jpg);}



.logo span {
    font-size: 20px;
    font-weight: 700;
}

.header-area a {color: black;}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    padding: 16px;
    display: block;
}

.logo {
    margin: 10px;
}

.header-area a {
    font-weight: 700;
}

.search-icon i {
    margin: 19px 0px;
}

.single-slide {
    background-color: #333;
    background-size: cover;
    background-position: center top;
    position: relative;
    z-index: 1;
    color: #fff;
}

.single-slide:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .66;
}

.header-area.header-absolute-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    color: white;
}

.header-area.header-absolute-area a {
    color: white;
}

.slide1-text {
    color: white;
    padding: 120px 0;
}

.slide1-text h2 span {
    font-style: italic;
    font-weight: 400;
}

.slide1-text h2 {
    font-size: 53px;
}

a.img-video {
    display: block;
    position: relative;
    margin: 30px;
}

.video-play-icon {
    position: absolute;
    height: 44px;
    width: 44px;
    line-height: 41px;
    border-radius: 50%;
    background: #077A7E;
    left: 50%;
    top: 50%;
    margin-top: -22px;
    margin-left: -22px;
}

a.boxed-button {
    padding: 12px 35px;
    background: #077A7E;
    color: white;
    font-size: 16px;
    border-radius: 50px;
}

.owl-carousel .owl-item .slide1-text img {
    display: inline-block;
    width: auto;
}

.homepage-slides .owl-nav div {
    position: absolute;
    left: 100px;
    top: 50%;
    color: white;
    font-size: 15px;
    line-height: 40px;
    margin-top: -20px;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 100px;
}
.space-100px {
    height: 100px;
}

.quote-title h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.quote-title p {
    font-size: 14px;
    color: #8D8D8D;
    margin-bottom: 30px;
}

.single-promo-box h4 {
    font-size: 20px;
    margin-bottom: 30px;
}

body {
    line-height: 1.8;
}

.single-promo-box p {
    color: #8D8D8D;
    font-size: 14px;
}

.title-gallery img {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 3px 5px 8px #B5B3B2;
}

.title-gallery img:nth-child(2) {
    position: absolute;
    z-index: 2;
    right: 53px;
    top: 23px;
}

.title-gallery img:nth-child(3) {
    position: absolute;
    z-index: 3;
    left: 45px;
    bottom: -64px;
}

.title-gallery {
    height: 600px;
}
.quote-icon i {
    font-size: 30px;
    color: #77DBDB;
    margin-bottom: 30px;
}
.single-promo-box {
    text-align: center;
}

a.single-service {
    position: relative;
    display: block;
    padding-left: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
}

.service-icon {
    position: absolute;
    font-size: 30px;
    color: #077B7F;
    left: 0;
    text-align: center;
    top: 0;
    height: 100%;
    width: 80px;
}

.service-icon-table {
    display: table;
    height: 100%;
    width: 100%;
}

.service-icon-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.service-icon:hover {
}

a.single-service:hover {
    background: #077B7F;
    color: white;
}

a.single-service:hover .service-icon {
    color: white;
}

a.single-service:hover:after {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 5000%;
    content: "";
    background: #077B7F;
}

.service-bg {
    position: relative;
    overflow: hidden;
}

.single-service p {
    color: #606060;
}

a.single-service:hover p {
    color: white;
}

.service-bg:before {
    background-image: url(../img/Service-bg.jpg);
    left: 0;
    top: 0;
    height: 100%;
    width: 51.05%;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

span.web-circle {
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 50px;
    margin-top: -25px;
    text-align: center;
    width: 100%;
}
span.graphic-circle {
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 50px;
    margin-top: -25px;
    text-align: center;
    width: 100%;
}
span.marketing-circle {
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 50px;
    margin-top: -25px;
    text-align: center;
    width: 100%;
}

.single-progress-bar {
    margin-top: 55px;
    text-align: center;
}

.single-progress-bar h3 {
    margin-top: 55px;
}
.circle{
    position: relative;
}
.circle1{
    position: relative;
}
.circle2{
    position: relative;
}

.say-hello-text {
    color: white;
    margin: 100px 0;
}

a.box-button {
    color: white;
    background: #088E93;
    padding: 14px 34px;
    border-radius: 50px;
}

.buttonbox {
    margin: 140px 0;
}
.say-hello-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    content: "";
    z-index: -1;
    opacity: .71;
}
.say-hello-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2
}
.single-project-file {
    position: relative;
    height: 312px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    text-align: center;
    margin-top: 25px;
}

.single-project-file-hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    color: white;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.single-project-file-hover:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #000;
    z-index: -1;
    opacity: .7;
}

.project-table {
    display: table;
    height: 100%;
    width: 100%;
}

.project-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-project-file-hover
h4 {
    font-size: 21px;
    margin-top: 17px;
}

.single-project-file:hover
.single-project-file-hover {
    opacity: 1;
    visibility: visible;
}

.single-project-file.large {
    height: 650px;
}
.single-team {
    position: relative;
    padding: 30px;
    background: #f1f1f1;
    text-align: center;
}

.single-team img {
    border-radius: 50%;
}

.single-team h4 {
    font-weight: 700;
    color: black;
    margin-top: 47px;
}

.single-team h4 span {
    display: block;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 30px;
}

.team-carousel {
    margin-top: 50px;
}

.owl-dots div {
    height: 12px;
    width: 12px;
    left: 0;
    top: 0;
    background: #9D9D9D;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}

.owl-dots {
    text-align: center;
    margin-top: 60px
}

.owl-dots div.active {
    background: #077B7F;
}

.owl-carousel .owl-item .single-team img {
    display: inline-block;
    width: auto;
}
.single-project-file-hover a {
    color: white;
}

.black-overlay {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    /* color: white; */
}

.black-overlay .progress-bar-text {
    color: white;
}

.black-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .7;
}

.single-team-members-list {
    color: black;
    padding: 25px;
    background: #fff;
    text-align: center;
    margin-top: 60px
}

.single-team-members-list h1 {
    font-size: 50px;
    font-style: italic;
    margin-bottom: 0;
    color: #077B7F;
}

.single-team-members-list p {
    font-weight: 700;
    margin-bottom: 30px;
}

.single-team-members-list h5 span {
    display: block;
    font-weight: normal;
    margin-top: 8px;
}

.bg-white {
    padding: 100px 0;
}

.owl-carousel .owl-item .single-brand-item img {
    display: inline-block;
    width: auto;
}

.footer-area {
    background: #f1f1f1;
    padding: 80px 0;
}

.footer-logo {
    font-weight: 600;
    font-size: 20px;
}
.footer-area p {
    margin-top: 30px;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2;
}

.footer-menu ul li a {
    color: black;
    font-weight: 700;
}

.footer-area h3 {
    font-size: 20px;
    margin-top: 10px;
}

.social-icon a {
    color: black;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    /* padding: 11px 19px; */
    margin-top: 12px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 9px;
}

.social-icon a:hover {
    color: white;
    background: #077B7F;
    border-color: #077B7F;
    transition: .3s;
}

.footer-menu {
    margin-top: 8px;
}


Home -2 //

.hero-area-bg {
    padding-top: 180px;
    padding-bottom: 130px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.hero-area-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .5;
}

.hero-text {
    color: white;
    margin-top: 160px
}

.hero-text h1 {
    font-size: 46px;
    line-height: 43px;
    margin-bottom: 20px;
}

.form-action {
    color: black;
    background: white;
    padding: 65px;
    border-top: 10px solid #09A1A6;
}

.hero-text p {
    font-size: 16px;
}

.form-action h3 span {
    color: #E60909;
}

input, button, textarea {
    padding: 10px;
    width: 100%;
}

.form-action h3 {
    margin-bottom: 50px;
    margin-top: -10px;
}

.form-action p {
    margin-bottom: 25px;
}

.form-action p:last-child {
    margin-bottom: 0;
}

input[type="button"] {
    background: #0BBBC1;
    border: none;
    color: white;
    border-radius: 5px;
}

.section-padding.back-color {
    background: #FBFBFB;
}

.feature-text h3 {
    font-size: 20px;
    margin-bottom: 29px;
}

.about-sec2 span {
    background: #303030;
    color: white;
    padding: 5px 18px;
    display: inline-block;
    border-radius: 50px;
    margin-bottom: 30px;
}

.about-sec2 h2 {
    font-size: 28px;
    margin-bottom: 29px;
}

.about-sec2 p {
    margin-bottom: 30px;
}

.about-sec2 a.boxed-button {display: inline-block;margin-top: 15px;}

.section-padding.about-sec2
.about-text {
    margin: 44px 0;
}

.service-sec2 {
    /* padding-top: 32px; */
    /* margin-bottom: 43px; */
    /* display: block; */
}

.service-heading-text h1 {
    font-size: 28px;
    margin-bottom: 60px;
}

.section-padding.service-sec2 .quote-icon {
    display: inline-block;
    margin-bottom: 30px;
}

.section-padding.service-sec2 .single-promo-box {
    margin-top: 30px;
    /* background: #FBFBFB; */
    padding: 50px 12px;
}

.section-padding.service-sec2 .single-promo-box:hover {
    background: #FBFBFB;
    cursor: pointer;
}

.section-padding.team-sec2 {
    padding-top: 0;
}

.section-padding.team-sec2
.single-team {
    background: #FBFBFB;
    box-shadow: 0 0 10px #f1f1f1;
    margin: 4px;
    border: 1.5px solid transparent;
}

.section-padding.team-sec2
.single-team:hover {
    border: 1.5px solid #0BBBC1;
}

.cta-bg {background-size: cover;background-position: center;background-repeat: no-repeat;position: relative;z-index: 2;}

.cta-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    content: "";
    z-index: -1;
    opacity: .7;
}

.home2-cta h1 {
    font-size: 40px;
    margin-bottom: 24px;
}

.home2-cta p {
    margin-bottom: 46px;
}

.single-team-members-list.blog-theme h3 {
    font-size: 18px;
}

.single-team-members-list.blog-theme p {
    font-size: 14px;
    color: #8D8D8D;
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 18px;
}

.single-team-members-list.blog-theme {
    margin: 4px;
    box-shadow: 0 0 10px #f1f1f1;
    padding: 50px 29px;
}

.single-team-members-list.blog-theme a.normal-btn {
    color: #0BBBC1;
    font-weight: 700;
}

.single-team-members-list.blog-theme {
    text-align: left;
}

.section-padding.home2-blog
  .prgress-bar-text {
    margin-bottom: 31px;
}

.section-padding.home2-blog
 .progress-bar-text h3 {
    margin-bottom: 85px;
}

.footer-area.black-theme {
    background: #131313;
}

.footer-area.black-theme, .footer-area.black-theme a,
 .footer-area.black-theme i.fa {
    color: white;
    border-color: white;
}

.footer-area.black-theme i.fa:hover {
    border-color: #0CBCC1;
}

.footer-area.black-theme .social-icon a:hover {
    border-color: transparent;
}
.section-padding.team-sec2 .single-team {
    background: #FBFBFB;
    box-shadow: 0 0 10px #f1f1f1;
    margin: 4px;
    border: 1.5px solid transparent;
    cursor: pointer;
}
.hero-area-bg {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    padding: 130px 0;
}

.about-us-bg {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    padding: 160px 0;
}

.about-us-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .7;
}

.about-text {}

.about-page-text h1 {
    /* display: block; */
    /* font-size: 36px; */
}

.about-us-page-text h1 {
    /* display: block; */
    font-size: 36px;
    color: white;
}

.about-us-page-text a {
    color: white;
    margin-top: 31px;
}

.about-us-page-text{
    color: white
}

.about-us-page-text a i.fa {
    margin: 0 16px;
}

.about-page-text {
    margin: 40px 0;
}

.about-page-feature-bg{
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2
}

.about-page-feature-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .7;
}

.feature-text-about {
    color: white;
}

.about-feature-icon {
    font-size: 41px;
    margin-bottom: 18px;
}

.about-page-feature-theme {
    margin-bottom: 80px;
}
.footer-2017 p {
    margin-bottom: -54px;
    padding: 0;
    text-align: center;
}
.cta-bg.home2-cta {
    margin-top: 100px;
}
.top0 {
    padding-top: 0;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul li a {
    color: black;
    padding: 23px;
    display: block;
    background: #FBFBFB;
    margin-bottom: 10px;
    padding-left: 43px;
    font-weight: 700;
}

.widget ul li a:hover {
    background: #0BBBC1;
    color: white;
}

.brochure {
    background: #FBFBFB;
    padding: 26px;
}

.brochure p {
    color: #8D8D8D;
}
.section-padding.service-sec2 {
    padding-top: 80px;
}
.brochure .boxed-button {
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    background: #0BBBC1;
    padding: 8px 0;
    text-align: center;
    margin-top: 25px;
}
.widget {
    margin-bottom: 60px;
}

.service-details h3 {margin-top: 56px;}

.section-padding.padd0 {
    padding-bottom: 0;
}

// ** Portfolio **//
.portfolio-menu ul li.active
 a {
    color: blue;
}
.portfolio-menu {
    text-align: center;
    padding: 40px 0;
}

.portfolio-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio-menu ul li {
    display: inline-block; 
    margin-right: 30px;
    cursor: pointer;
}

.portfolio-menu{
    display: block;
    color: black;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer
}
.section-padding.team-full-list p {
    margin: 24px 0 0 0;
}
.portfolio-menu ul li.active{
    color: red
}
.section-padding.team-full-list {
    padding-bottom: 0;
}

.section-padding.team-full-list .single-team {
    box-shadow: 0 0 4px #ddd;
    border: 1.5px solid #f1f1f1;
}

.section-padding.team-full-list .single-team:hover {
    border: 1.5px solid #37888B;
}
.section-padding.portfolio-boxshadow .single-team-members-list {
    box-shadow: 0 0 4px #ddd;
}